# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos de configuración de entorno
.env

# Directorios de construcción o salida
dist/
build/

# Archivos de configuración específicos del editor
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de sistema operativo
.DS_Store
Thumbs.db
